<mat-list>
  <mat-list-item>
    <span matListItemTitle>Short Name: </span>
    <span matListItemLine>{{ exchangeRate.shortName }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Valid From: </span>
    <span matListItemLine>{{ exchangeRate.validFrom }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Name: </span>
    <span matListItemLine>{{ exchangeRate.name }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Country: </span>
    <span matListItemLine>{{ exchangeRate.country }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Move: </span>
    <span matListItemLine>{{ exchangeRate.move }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Amount: </span>
    <span matListItemLine>{{ exchangeRate.amount }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Value Buy: </span>
    <span matListItemLine>{{ exchangeRate.valBuy }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Value Sell: </span>
    <span matListItemLine>{{ exchangeRate.valSell }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Value Mid: </span>
    <span matListItemLine>{{ exchangeRate.valMid }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Curr Buy: </span>
    <span matListItemLine>{{ exchangeRate.currBuy }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Curr Sell: </span>
    <span matListItemLine>{{ exchangeRate.currSell }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Curr Mid: </span>
    <span matListItemLine>{{ exchangeRate.currMid }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Version: </span>
    <span matListItemLine>{{ exchangeRate.version }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>CNB Mid: </span>
    <span matListItemLine>{{ exchangeRate.cnbMid }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>ECB Mid: </span>
    <span matListItemLine>{{ exchangeRate.ecbMid }}</span>
  </mat-list-item>
</mat-list>

<button routerLink="/">Back</button>

